.tinder-header {
  /* background-color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background: #eaecef;
}

.tinder-header img {
  height: 35px;
  /* padding: 5px; */
  object-fit: contain;
}

.tinder-header .header-icons {
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  /* color: aqua; */
}
.tinder-header .person {
  color: rgb(31, 93, 93);
}
.tinder-header .chat {
  color: rgb(12, 86, 11);
}

/* .header-icons{
    padding: 20px;
} */

/* .header-icons:hover{
    background-color: aquamarine;
    border-radius: 50px;
} */
